@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 98%;
    --foreground: 48 10% 10%;

    --card: 48 33% 99%;
    --card-foreground: 48 10% 10%;

    --popover: 48 33% 99%;
    --popover-foreground: 48 10% 10%;

    --primary: 150 40% 30%;
    --primary-foreground: 150 33% 98%;

    --secondary: 48 20% 92%;
    --secondary-foreground: 48 10% 10%;

    --muted: 48 20% 90%;
    --muted-foreground: 48 10% 40%;

    --accent: 150 30% 45%;
    --accent-foreground: 48 33% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 48 20% 88%;
    --input: 48 20% 88%;
    --ring: 150 40% 30%;

    --radius: 0.5rem;

    --sidebar-background: 48 33% 98%;
    --sidebar-foreground: 48 10% 10%;
    --sidebar-primary: 150 40% 30%;
    --sidebar-primary-foreground: 48 33% 98%;
    --sidebar-accent: 48 20% 92%;
    --sidebar-accent-foreground: 48 10% 10%;
    --sidebar-border: 48 20% 88%;
    --sidebar-ring: 150 40% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .prose {
      --tw-prose-body: hsl(var(--foreground));
      --tw-prose-headings: hsl(var(--foreground));
      --tw-prose-lead: hsl(var(--foreground));
      --tw-prose-links: hsl(var(--primary));
      --tw-prose-bold: hsl(var(--foreground));
      --tw-prose-counters: hsl(var(--muted-foreground));
      --tw-prose-bullets: hsl(var(--border));
      --tw-prose-hr: hsl(var(--border));
      --tw-prose-quotes: hsl(var(--foreground));
      --tw-prose-quote-borders: hsl(var(--border));
      --tw-prose-captions: hsl(var(--muted-foreground));
      --tw-prose-code: hsl(var(--foreground));
      --tw-prose-pre-code: hsl(var(--card-foreground));
      --tw-prose-pre-bg: hsl(var(--card));
      --tw-prose-th-borders: hsl(var(--border));
      --tw-prose-td-borders: hsl(var(--border));

      h3 {
        @apply text-lg font-bold font-headline tracking-tight;
      }

      ul {
        @apply list-disc list-inside;
      }

      li {
        @apply mb-2;
      }
  }
}

    