@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 56 41% 86%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 81 26% 62%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 56 41% 92%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 56 41% 92%;
    --muted-foreground: 20 8% 40%;
    --accent: 81 26% 62%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 56 20% 75%;
    --input: 56 20% 80%;
    --ring: 81 26% 62%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 20 14.3% 4.1%;
    --sidebar-primary: 81 26% 62%;
    --sidebar-primary-foreground: 20 14.3% 4.1%;
    --sidebar-accent: 56 41% 92%;
    --sidebar-accent-foreground: 20 14.3% 4.1%;
    --sidebar-border: 56 20% 85%;
    --sidebar-ring: 81 26% 62%;
  }

  .dark {
    --background: 81 10% 15%;
    --foreground: 56 41% 86%;
    --card: 81 10% 20%;
    --card-foreground: 56 41% 86%;
    --popover: 81 10% 15%;
    --popover-foreground: 56 41% 86%;
    --primary: 81 26% 62%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 81 10% 25%;
    --secondary-foreground: 56 41% 86%;
    --muted: 81 10% 25%;
    --muted-foreground: 56 20% 60%;
    --accent: 81 26% 62%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 81 10% 30%;
    --input: 81 10% 30%;
    --ring: 81 26% 72%;
    --sidebar-background: 81 10% 20%;
    --sidebar-foreground: 56 41% 86%;
    --sidebar-primary: 81 26% 62%;
    --sidebar-primary-foreground: 20 14.3% 4.1%;
    --sidebar-accent: 81 10% 25%;
    --sidebar-accent-foreground: 56 41% 86%;
    --sidebar-border: 81 10% 30%;
    --sidebar-ring: 81 26% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
